

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
    {% block titulo %}
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    
    
    
</head>
<body>

    <nav>
        <div>
            <a href="">Flask Python</a>
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('dados')}}">Pessoas</a>


        </div>


        <div>
            <a href="">Login</a>
            <a href="{{url_for('cadastro')}}">Cadastro</a>
            

        </div>


    </nav>
    
        
    {%block conteudo%}

    {% endblock %}

</body>
</html>